#
# Properties declaration of users roles for the realm 'tcad.
#
X_Pris_Titta_Ber_kna=XPRISUSER
X_Pris_L_gga_order_niv_ing_r=XPRISUSER
X_Pris_Centrex_anv_ndaradmin_niv_och_ing_r=XPRISUSER
#X_Pris_Beh_righet_f_r_terf_rs_ljare=NOTINUSE
X_Pris_Specialbeh_righet=XPRISUSER
X-Pris_Behorighetssupport=USERADMIN
