#!/bin/sh
Prev=$PWD
export TUXEDODOMAIN={{tuxtcndom}}

if [[ -f $TUXEDODOMAIN/kompilering_pagaar ]]; then
echo "Naagon koer redan en kompilering i denna miljoe"
exit
fi
#Skapa fil foer att varna andra
touch $TUXEDODOMAIN/kompilering_pagaar

#echo "Skapar OrderSpara under version: $TUXEDODOMAIN"

cd $TUXEDODOMAIN/dev/orderspara/
. makeOrderSpara $1


rm -f $TUXEDODOMAIN/kompilering_pagaar
echo ""
echo "Klar. makeO"
echo ""
