#
# TUXEDO DOMAIN CONFIGURATION FILE
# Xpris internet
#
*DM_LOCAL_DOMAINS
XPNTEST	GWGRP = DMGWGRP	TYPE = TDOMAIN	DOMAINID = "{{ubbDomainid}}"	BLOCKTIME=40

*DM_REMOTE_DOMAINS
XPNOLTP		TYPE = TDOMAIN	DOMAINID = "XPNOLTPB"
#XPNOLTPA	TYPE = TDOMAIN	DOMAINID = "XPNOLTP"
#XPNOLTPT	TYPE = TDOMAIN	DOMAINID = "XPRIS_GW_L23"

*DM_TDOMAIN
XPNTEST			NWADDR = "//{{ubbMachines}}:35020" NWDEVICE = "/dev/tcp"
XPNOLTP			NWADDR = "//xp001itest.ddc.teliasonera.net:15022"
#XPNOLTPA        NWADDR="//xp001itest.ddc.teliasonera.net:15021"

*DM_LOCAL_SERVICES
IPrisberNyL
FlexAdressLMC	RNAME="FlexAdressL"
ForwardL
TcnForwardL
ToppkundDSK
ToppAnlDSS
NmsGetCustL
KundSokExtL		RNAME="KundSokExtL"
KundHAdressExtL	RNAME="KundHAdressExtL"
XpnEibKompUpdL

*DM_REMOTE_SERVICES
TadIprStidOLTP	AUTOTRAN=N	RDOM=XPNOLTP	RNAME="BPX600"
TadBPX230OLTP	AUTOTRAN=N	RDOM=XPNOLTP	RNAME="BPX230"