FLDTBLS32=Usysfl32,lobas.tbl,generalfml.tbl,acladmsvr.tbl,tpadm,evt_mib
FLDTBLDIR32={{base_folder}}/domains/tuxtcn/appdir/fml:{{base_folder}}/{{tuxedo_path}}/udataobj
FO_SYBSERV=true
LD_LIBRARY_PATH={{base_folder}}/domains/tuxtcn/appdir/lib/xpnlib:{{base_folder}}/domains/tuxtcn/appdir/lib/folib:{{base_folder}}/domains/tuxtcn/appdir/lib:{{base_folder}}/{{mimer_path}}/lib:{{base_folder}}/{{tuxedo_path}}/lib:{{base_folder}}/{{oracle_path}}/lib:{{base_folder}}/sybase/OCS-15_0/lib:{{base_folder}}/RANS/lib

IPMSEGI={{ipmsegi}}
GESBURL={{gesburl}}
GESBUSER={{gesbuser}}
GESBPWD={{gesbpwd}}

IPMSTADP={{ipmstadp}}
EBSTADP={{ebstadp}}
GESBURLP={{gesburlp}}
GESBUSERP={{gesbuserp}}
GESBPWDP={{gesbpwdp}}
