
SIMBASE
        query tcp ether sim01.kal.telia.se 8600
        query tcp ether sim01.kal.telia.se 8600

NMS
        master tcp ether 131.116.9.130 4000
        query tcp ether 131.116.9.130 4000
