
ISACC02
        master tcp ether isacc02db.han.telia.se 3777
        query tcp ether isacc02db.han.telia.se 3777

ISACC02_BACKUP
        master tcp ether isacc02db.han.telia.se 3010
        query tcp ether isacc02db.han.telia.se 3010

REMOTE_BACKUP
        master tcp ether isacc02db.han.telia.se 9999
        query tcp ether isacc02db.han.telia.se 9999


ALS_ISACC02
        master tcp ether isacc02.han.telia.se 3778
        query tcp ether isacc02.han.telia.se 3778

OSUNIGW1_ISACC02
        master tcp ether isacc02.han.telia.se 3779
        query tcp ether isacc02.han.telia.se 3779

OSUNIGW2_ISACC02
        master tcp ether isacc02.han.telia.se 3780
        query tcp ether isacc02.han.telia.se 3780

OSUNIGW3_ISACC02
        master tcp ether isacc02.han.telia.se 3781
        query tcp ether isacc02.han.telia.se 3781

OSUNIGW4_ISACC02
        master tcp ether isacc02.han.telia.se 3782
        query tcp ether isacc02.han.telia.se 3782

TIBALERT_ISACC02
        master tcp ether isacc02.han.telia.se 3792
        query tcp ether isacc02.han.telia.se 3792

TVTUACS
        master tcp ether tvtuacs.kal.telia.se 2050
        query tcp ether tvtuacs.kal.telia.se 2050

OSRB_ISACC02
        master tcp ether isacc02.han.telia.se 3791
        query tcp ether isacc02.han.telia.se 3791


FAOS_ACC
        master tcp ether sung.malmo.kicore.net 5241
        query tcp ether sung.malmo.kicore.net 5241

FAOS_ACC_REAL
        master tcp ether sung.malmo.kicore.net 5242
        query tcp ether sung.malmo.kicore.net 5242

MOBIOS_ACC
        master tcp ether mbm4u.malmo.kicore.net 3004
        query tcp ether mbm4u.malmo.kicore.net 3004

ISUTB01
        master tcp ether isutb01db.han.telia.se 3112
        query tcp ether isutb01db.han.telia.se 3112

JAGUAR_ISUTV02
        master tcp ether austin.kal.telia.se 5402
        query tcp ether austin.kal.telia.se 5402

JAGUAR_ISSYS01
        master tcp ether austin.kal.telia.se 5412
        query tcp ether austin.kal.telia.se 5412

JAGUAR_ISACC02
        master tcp ether austin.kal.telia.se 5422
        query tcp ether austin.kal.telia.se 5422

ISUTV01
        master tcp ether isutv01db.han.telia.se 3000
        query tcp ether isutv01db.han.telia.se 3000

ISSYS01
        master tcp ether issys01db.han.telia.se 3104
        query tcp ether issys01db.han.telia.se 3104

SIM01
        master tcp ether sim01.kal.telia.se 8600
        query tcp ether sim01.kal.telia.se 8600

SIMBASE
        master tcp ether sim01.kal.telia.se 8600
        query tcp ether sim01.kal.telia.se 8600

ISACC01
        master tcp ether isacc01db.han.telia.se 3105
        query tcp ether isacc01db.han.telia.se 3105

PROD02
        query tcp ether khdis.data.telia.se 8200
        master tcp ether khdis.data.telia.se 8200

STREAM_UTV
        master tcp ether 131.116.130.42 5000
        query tcp ether 131.116.130.42 5000
        
        
JAGUAR_TST50
        master tcp ether austin.kal.telia.se 5442
        query tcp ether austin.kal.telia.se 5442

ISSYS02
        master tcp ether issys02db.han.telia.se 3106
        query tcp ether issys02db.han.telia.se 3106

ISUTV02
        master tcp ether isutv02db.han.telia.se 3700
        query tcp ether isutv02db.han.telia.se 3700
        
NMS
        master tcp ether 131.116.9.130 4000
        query tcp ether 131.116.9.130 4000

        