CDB =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = localhost )(PORT = 1521 ))
    (CONNECT_DATA = (SID = CDB ))
 )
XBAS =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = localhost )(PORT = 1521 ))
    (CONNECT_DATA = (SID = XBAS ))
  )
XBAS.WORLD =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = localhost )(PORT = 1521 ))
    (CONNECT_DATA = (SID = XBAS ))
  )
RMAN121 =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = db121rman.ddc.teliasonera.net )(PORT = 1521 ))
    (CONNECT_DATA = (SID = RMAN121))
  )
NOD.WORLD =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = nodprod.db.teliasonera.net)(PORT = 1521))
    (CONNECT_DATA = (SID = NODPROD))
  )
XPRIS.WORLD =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = xbas.db.han.telia.se)(PORT = 1521))
    (CONNECT_DATA = (SID = XBAS))
  )
AM_PEPSI.WORLD =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = amprod.db.teliasonera.net)(PORT = 1521))
    (CONNECT_DATA = (SID = AMPROD))
  )
XBASTST.WORLD =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = xbastst.db.han.telia.se )(PORT = 1521 ))
    (CONNECT_DATA = (SID = XBASTST))
  )
