#    _________            .__        __    .__        _____                            __  .__               
#   /   _____/ ___________|__|______/  |_  |__| _____/ ____\___________  _____ _____ _/  |_|__| ____   ____  
#   \_____  \_/ ___\_  __ \  \____ \   __\ |  |/    \   __\/  _ \_  __ \/     \\__  \\   __\  |/  _ \ /    \ 
#   /        \  \___|  | \/  |  |_> >  |   |  |   |  \  | (  <_> )  | \/  Y Y  \/ __ \|  | |  (  <_> )   |  \
#  /_______  /\___  >__|  |__|   __/|__|   |__|___|  /__|  \____/|__|  |__|_|  (____  /__| |__|\____/|___|  /
#          \/     \/         |__|                  \/                        \/     \/                    \/ 

*** runbatch.sh <batchname> ***
Possible batchnames:
metadataexport
centrexmigrerasla
centrexmigreraslaank
lokuslista
kundklarerrors
sendstatusqueue
centrexxtasslutfor
orderlist
isdninquiry
removeoldcalc
statisticsDesktop
orderstatistics
allValueListToTelsims
list_mobile_extensions
xtasagreement