<?xml version="1.0"?>
<Environments>
	<Environment>
		  <Name>Utv 11</Name>
		  <Version>{{utv11_branch}}</Version>
		  <webserver>xp001utv1.ddc.teliasonera.net</webserver>
      <tomcatport>35025</tomcatport>
      <tuxedoserver>xp001utv1.ddc.teliasonera.net</tuxedoserver>
      <jslport>35010</jslport>
      <appserver>xp001utv1.ddc.teliasonera.net</appserver>
      <jbossport>35025</jbossport>
		  <Lobas>A2</Lobas>
		  <ReleaseDate>2018-11-19</ReleaseDate>
		  <Jolt>xp001utv1.ddc.teliasonera.net:35010</Jolt>
		  <TomcatURL>xp001utv1.ddc.teliasonera.net:35025/</TomcatURL>
		  <WsURL>xp001utv1.ddc.teliasonera.net:35025</WsURL>
		  <Adressmaster>AMKUNDT</Adressmaster>
		  <Natfraga>nfkundtestb</Natfraga>
		  <TCN>{{utv11_tcn_version}}</TCN>
		  <LoginParameters>index.jsp</LoginParameters>
		  <JWSLoginParameters>xpriswsa.jsp</JWSLoginParameters>
		  <TelsimsEnvironment>Sys03</TelsimsEnvironment>
	</Environment>
	<Environment>
		  <Name>Utv 12</Name>
		  <Version>{{utv12_branch}}</Version>
		  <webserver>xp001utv2.ddc.teliasonera.net</webserver>
      <tomcatport>35025</tomcatport>
      <tuxedoserver>xp001utv2.ddc.teliasonera.net</tuxedoserver>
      <jslport>35010</jslport>
      <appserver>xp001utv2.ddc.teliasonera.net</appserver>
      <jbossport>35025</jbossport>
		  <Lobas>A2</Lobas>
		  <ReleaseDate>2018-05-21</ReleaseDate>
		  <Jolt>xp001utv2.ddc.teliasonera.net:35010</Jolt>
		  <TomcatURL>xp001utv2.ddc.teliasonera.net:35025/</TomcatURL>
		  <WsURL>xp001utv2.ddc.teliasonera.net:35025</WsURL>
		  <Adressmaster>AMKUNDT</Adressmaster>
		  <Natfraga>nfkundtestc</Natfraga>
		  <TCN>{{utv12_tcn_version}}</TCN>
		  <LoginParameters>index.jsp</LoginParameters>
		  <JWSLoginParameters>xpriswsa.jsp</JWSLoginParameters>
		  <TelsimsEnvironment>Sys03</TelsimsEnvironment>
	</Environment>
    <Environment>
          <Name>Utv 13</Name>
          <Version>{{utv13_branch}}</Version>
          <webserver>xp001utv3.ddc.teliasonera.net</webserver>
      <tomcatport>35025</tomcatport>
      <tuxedoserver>xp001utv3.ddc.teliasonera.net</tuxedoserver>
      <jslport>35010</jslport>
      <appserver>xp001utv3.ddc.teliasonera.net</appserver>
      <jbossport>35025</jbossport>
          <Lobas>A2</Lobas>
          <ReleaseDate>2018-09-17</ReleaseDate>
          <Jolt>xp001utv3.ddc.teliasonera.net:35010</Jolt>
          <TomcatURL>xp001utv3.ddc.teliasonera.net:35025/</TomcatURL>
          <WsURL>xp001utv3.ddc.teliasonera.net:35025</WsURL>
          <Adressmaster>AMKUNDT</Adressmaster>
          <Natfraga>nfkundtesta</Natfraga>
          <TCN>{{utv13_tcn_version}}</TCN>
          <LoginParameters>index.jsp</LoginParameters>
          <JWSLoginParameters>xpriswsa.jsp</JWSLoginParameters>
          <TelsimsEnvironment>Sys03</TelsimsEnvironment>
    </Environment>
	<Environment>
		  <Name>Test 11</Name>
		  <Version>{{utv11_branch}}</Version>
		  <webserver>xp001test1.ddc.teliasonera.net</webserver>
      <tomcatport>35025</tomcatport>
      <tuxedoserver>xp001test1.ddc.teliasonera.net</tuxedoserver>
      <jslport>35010</jslport>
      <appserver>xp001test1.ddc.teliasonera.net</appserver>
      <jbossport>35025</jbossport>
		  <Lobas>A2</Lobas>
		  <ReleaseDate>2018-11-19</ReleaseDate>
		  <Jolt>xp001test1.ddc.teliasonera.net:35010</Jolt>
		  <TomcatURL>xp001test1.ddc.teliasonera.net:35025/</TomcatURL>
		  <WsURL>xp001test1.ddc.teliasonera.net:35025</WsURL>
		  <Adressmaster>AMKUNDT</Adressmaster>
		  <Natfraga>nfkundtestb</Natfraga>
		  <TCN>{{test11_tcn_version}}</TCN>
		  <LoginParameters>index.jsp</LoginParameters>
		  <JWSLoginParameters>xpriswsa.jsp</JWSLoginParameters>
		  <TelsimsEnvironment>Sys03</TelsimsEnvironment>
	</Environment>
	<Environment>
		  <Name>Test 12</Name>
		  <Version>{{test12_branch}}</Version>
		  <webserver>xp001test2.ddc.teliasonera.net</webserver>
      <tomcatport>35025</tomcatport>
      <tuxedoserver>xp001test2.ddc.teliasonera.net</tuxedoserver>
      <jslport>35010</jslport>
      <appserver>xp001test2.ddc.teliasonera.net</appserver>
      <jbossport>35025</jbossport>
		  <Lobas>A2</Lobas>
		  <ReleaseDate>2018-05-21</ReleaseDate>
		  <Jolt>xp001test2.ddc.teliasonera.net:35010</Jolt>
		  <TomcatURL>xp001test2.ddc.teliasonera.net:35025/</TomcatURL>
		  <WsURL>xp001test2.ddc.teliasonera.net:35025</WsURL>
		  <Adressmaster>AMKUNDT</Adressmaster>
		  <Natfraga>nfkundtesta</Natfraga>
		  <TCN>{{test12_tcn_version}}</TCN>
		  <LoginParameters>index.jsp</LoginParameters>
		  <JWSLoginParameters>xpriswsa.jsp</JWSLoginParameters>
		  <TelsimsEnvironment>Sys03</TelsimsEnvironment>
	</Environment>
	<Environment>
		  <Name>Test 13</Name>
		  <Version>{{test13_branch}}</Version>
		  <webserver>xp001test3.ddc.teliasonera.net</webserver>
      <tomcatport>35025</tomcatport>
      <tuxedoserver>xp001test3.ddc.teliasonera.net</tuxedoserver>
      <jslport>35010</jslport>
      <appserver>xp001test3.ddc.teliasonera.net</appserver>
      <jbossport>35025</jbossport>
		  <Lobas>A2</Lobas>
		  <ReleaseDate>2018-09-17</ReleaseDate>
		  <Jolt>xp001test3.ddc.teliasonera.net:35010</Jolt>
		  <TomcatURL>xp001test3.ddc.teliasonera.net:35025/</TomcatURL>
		  <WsURL>xp001test3.ddc.teliasonera.net:35025</WsURL>
		  <Adressmaster>AMKUNDT</Adressmaster>
		  <Natfraga>nfkundtesta</Natfraga>
		  <TCN>{{test13_tcn_version}}</TCN>
		  <LoginParameters>index.jsp</LoginParameters>
		  <TelsimsEnvironment>Sys03</TelsimsEnvironment>
	</Environment>
	<Environment>
		  <Name>Itest</Name>
		  <Version>{{itest_branch}}</Version>
		  <webserver>xp001itest.ddc.teliasonera.net</webserver>
      <tomcatport>35025</tomcatport>
      <tuxedoserver>xp001itest.ddc.teliasonera.net</tuxedoserver>
      <jslport>35010</jslport>
      <appserver>xp001xpristst.ddc.teliasonera.net</appserver>
      <jbossport>35500</jbossport>
		  <Lobas>A2</Lobas>
		  <ReleaseDate>2018-09-17</ReleaseDate>
		  <Jolt>xp001itest.ddc.teliasonera.net:35010</Jolt>
		  <TomcatURL>xp001itest.ddc.teliasonera.net:35025/</TomcatURL>
		  <WsURL>xp001xpristst.ddc.teliasonera.net:35500</WsURL>
		  <Adressmaster>AMRATTM</Adressmaster>
		  <Natfraga>nfrattmc</Natfraga>
		  <TCN>{{itest_tcn_version}}</TCN>
		  <LoginParameters>index.jsp</LoginParameters>
		  <JWSLoginParameters>xpriswsa.jsp</JWSLoginParameters>
		  <TelsimsEnvironment>Acctest</TelsimsEnvironment>
	</Environment>
	<Environment>
		  <Name>Forv</Name>
		  <Version>{{forv_branch}}</Version>
		  <webserver>xp001forv.ddc.teliasonera.net</webserver>
      <tomcatport>35025</tomcatport>
      <tuxedoserver>xp001forv.ddc.teliasonera.net</tuxedoserver>
      <jslport>35010</jslport>
      <appserver>xp001xpristst.ddc.teliasonera.net</appserver>
      <jbossport>45500</jbossport>s
		  <Lobas>A2</Lobas>
		  <ReleaseDate>2018-09-17</ReleaseDate>
		  <Jolt>xp001forv.ddc.teliasonera.net:35010</Jolt>
		  <TomcatURL>xp001forv.ddc.teliasonera.net:35025/</TomcatURL>
		  <WsURL>xp001xpristst.ddc.teliasonera.net:45500</WsURL>
		  <Adressmaster>AMKUNDT</Adressmaster>
		  <Natfraga>nfsita</Natfraga>
		  <TCN>{{forv_tcn_version}}</TCN>
		  <LoginParameters>index.jsp</LoginParameters>
		  <JWSLoginParameters>xpriswsa.jsp</JWSLoginParameters>
		  <TelsimsEnvironment>Sys03</TelsimsEnvironment>
	</Environment>
</Environments>	

